{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}
<div class="container">
<h1>Liste de Catégories</h1>
<ul>
{% for cat in categories %}
  
    <li>{{cat.libelle}}</li>
    
     
{% endfor %}
</ul>  
</div> 
{% endblock %}
